@{
    ViewBag.Title = "Index";
}

<link href="~/Content/style-min.css" rel="stylesheet" />

<div role="main" class="main">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="content">
                    <div class="col-md-10 middle-col">
                        <h1>JasmineJS - Overview</h1>
                        <div class="topgooglead">
                            <hr>
                            <p>Jasmine is an open-source JavaScript framework, capable of testing any kind of JavaScript application. Jasmine follows Behavior Driven Development (BDD) procedure to ensure that each line of JavaScript statement is properly unit tested. By following BDD procedure, Jasmine provides a small syntax to test the smallest unit of the entire application instead of testing it as a whole.</p>
                            <h2>Why Use Jasmine?</h2>
                            <p>Following are the advantages of using Jasmine over other available JavaScript testing frameworks −</p>
                            <ul class="list">
                                <li><p>Jasmine does not depend on any other JavaScript framework.</p></li>
                                <li><p>Jasmine does not require any DOM.</p></li>
                                <li><p>All the syntax used in Jasmine framework is clean and obvious.</p></li>
                                <li><p>Jasmine is heavily influenced by Rspec, JS Spec, and Jspec.</p></li>
                                <li><p>Jasmine is an open-source framework and easily available in different versions like stand-alone, ruby gem, Node.js, etc.</p></li>
                            </ul>
                            <h2>How to Use Jasmine?</h2>
                            <p>Jasmine is very easy to implement in any kind of development methodology. All you need to download is the standalone library files from the official website <a target="_blank" rel="nofollow" href="http://jasmine.github.io/">http://jasmine.github.io/</a> and implement the same in your application.</p>
                            <p>The detailed environment setup will be described in the next chapter named “Environment setup”. Once you successfully download and unzip the zip file, then you will find the following sub-folders inside that zip file.</p>
                            <img src="/jasminejs/images/zip_file.jpg" alt="Zip File">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
